!!!
%html
  %head
    %title Template
    %link{ :type => 'text/css', :rel => 'stylesheet', :href => '/stylesheets/screen.css' }
  %body
    #shell
      #head
        %h1#logo
          %a{ :href => '#' }
            %span
        %ul#nav_top
          %li
            %a{ :href => '#' } Link
          %li
            %a{ :href => '#' } Link
          %li
            %a{ :href => '#' } Link
        %ul#nav_primary
          %li
            %a{ :href => '#' } Link
          %li
            %a{ :href => '#' } Link
          %li
            %a{ :href => '#' } Link
          %li
            %a{ :href => '#' } Link
          %li
            %a{ :href => '#' } Link
      #content
        .column.col_220
        .column.col_460
      #foot
        %ul#nav_foot
          %li
            %a{ :href => '#' } Link
          %li
            %a{ :href => '#' } Link
          %li
            %a{ :href => '#' } Link
          %li
            %a{ :href => '#' } Link
          %li
            %a{ :href => '#' } Link
